.email-password {
  display: flex;
  align-items: center;
  font-weight: 100;
  font-style: oblique;
}

.prefix {
  width: 30px;
  height: 30px;
  margin: 5px;
}

md-input-container {
  flex: 1;
}

.sign-in {
  button {
    min-width: 150px;
    display: block;
    margin: auto;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
}
