<div *ngIf="config$ | async as config" class="container" fxLayout.gt-xs="row" fxLayout="column" fxLayoutWrap="wrap" fxLayoutAlign="space-around start"
  fxLayoutAlign.xs="center center">
  <md-card>
    <md-card-title>Flavors</md-card-title>
    <md-card-content>
      <md-list>
        <md-list-item fxFlexlayout>
          <md-input-container fxFlex>
            <input mdInput #newflavor placeholder="Add New Flavor">
          </md-input-container>
          <a mdMiniFab color="primary" (click)="addFlavor(newflavor.value)">
            <i class="material-icons">add</i>
          </a>
        </md-list-item>
        <md-list-item *ngFor="let flavor of config.flavors | keyValue" fxFlexlayout>
          <md-input-container fxFlex>
            <input mdInput #flavorinput [value]="flavor.value" (blur)="updateFlavor(flavor.key, flavorinput.value)">
          </md-input-container>
          <a mdMiniFab color="warn" (click)="removeFlavor(flavor.key)">
            <i class="material-icons">clear</i>
          </a>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-title>Drinks</md-card-title>
    <md-card-content>
      <md-list>
        <md-list-item fxFlexlayout>
          <md-input-container fxFlex>
            <input mdInput #newdrink placeholder="Add New Drink">
          </md-input-container>
          <a mdMiniFab color="primary" (click)="addDrink(newdrink.value)">
            <i class="material-icons">add</i>
          </a>
        </md-list-item>
        <md-list-item *ngFor="let drink of config.drinks | keyValue" fxFlexlayout>
          <md-input-container fxFlex>
            <input mdInput #drinkinput [value]="drink.value" (blur)="updateDrink(drink.key, drinkinput.value)">
          </md-input-container>
          <a mdMiniFab color="warn" (click)="removeDrink(drink.key)">
            <i class="material-icons">clear</i>
          </a>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-content>
      <md-list>
        <h3 mdSubheader>Baristas</h3>
        <md-list-item>
          <md-select (change)="onChangeBarista($event)" placeholder="Add Barista">
            <md-option *ngFor="let user of users$ | async | keyValue" [value]="user.key + '|' + user.value.displayName + '|' + user.value.photoURL">
              {{ user.value?.displayName }}
            </md-option>
          </md-select>
        </md-list-item>
        <md-list-item *ngFor="let barista of baristas$ | async | keyValue">
          <md-icon md-list-icon><img src="{{barista.value?.photoURL}}" md-card-avatar></md-icon>
          <h4 md-line> {{barista.value?.displayName}} </h4>
          <a mdMiniFab color="warn" (click)="removeBarista(barista.key)">
            <i class="material-icons">clear</i>
          </a>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-title>Locations</md-card-title>
    <md-card-content>
      <md-list>
        <md-list-item fxFlexlayout>
          <md-input-container fxFlex>
            <input mdInput #newlocation placeholder="Add New Location">
          </md-input-container>
          <a mdMiniFab color="primary" (click)="addLocation(newlocation.value)">
            <i class="material-icons">add</i>
          </a>
        </md-list-item>
        <md-list-item *ngFor="let location of config.locations | keyValue" fxFlexlayout>
          <md-input-container fxFlex>
            <input mdInput #locationinput [value]="location.value" (blur)="updateLocation(location.key, locationinput.value)">
          </md-input-container>
          <a mdMiniFab color="warn" (click)="removeLocation(location.key)">
            <i class="material-icons">clear</i>
          </a>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</div>
