<form *ngIf="form" class="form" [formGroup]="form">
  <md-card>
    <md-card-title>Profile Info</md-card-title>
    <md-card-subtitle>
      If we're missing you're phone number we won't be able to text you.
    </md-card-subtitle>
    <md-card-content>
      <section>
        <md-input-container>
          <input formControlName="phone" mdInput placeholder="Phone number" type="tel" [textMask]="{mask: mask}">
          <md-error *ngIf="form.controls['phone'].hasError('pattern')">
            Please enter a valid phone number
          </md-error>
          <md-error *ngIf="form.controls['phone'].hasError('required')">
            Please enter a phone number
          </md-error>
        </md-input-container>
        <button md-button (click)="updateForm.emit(form.value)" [disabled]="form.controls['phone'].invalid">Save Number</button>

        <section>
          <md-slide-toggle (change)="pushChange.emit($event)" [checked]="form.controls['pushNotifications'].value">
            Push Notifications
          </md-slide-toggle>
        </section>
        <section>
          <md-slide-toggle (change)="textChange.emit($event)" [checked]="form.controls['receiveTexts'].value">
            Text Messages
          </md-slide-toggle>
        </section>
      </section>
    </md-card-content>
  </md-card>
</form>
