main {
  max-width: 360px;
  margin: auto;
}

.center {
  text-align: center;
  font-weight: 100;
  font-style: oblique;
}

.create-one {
  color: #cccccc;
  text-decoration: none;
  font-weight: bold;
}
