<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center start">
  <div fxLayout="row" fxLayoutWrap fxLayoutAlign="center" fxFlex.sm="100">
    <h1 fxFlex="100">Ordered: {{(orders | async)?.length}}</h1>
    <md-card *ngFor="let order of orders | async" class="order-card">
      <md-card-title>
        {{order.name}}
      </md-card-title>
      <md-card-content>
        {{order.temp}}<br>
        <span *ngIf="order.flavors">{{order.flavors}}<br></span>
        {{order.milk}}<br>
        <span *ngIf="order.notes">{{order.notes}}</span>
      </md-card-content>
      <md-card-actions>
        <button md-button (click)="onStarted(order)">START</button>
        <button md-button (click)="onFinished(order)">FINISH</button>
      </md-card-actions>
    </md-card>
  </div>
  <div fxLayout="row" fxLayoutWrap fxLayoutAlign="center" fxFlex.sm="100">
    <h1 fxFlex="100">Started: {{(started | async)?.length}}</h1>
    <md-card *ngFor="let order of started | async" class="order-card">
      <md-card-title>
        {{order.name}}
      </md-card-title>
      <md-card-content>
        {{order.temp}}<br>
        <span *ngIf="order.flavors">{{order.flavors}}<br></span>
        {{order.milk}}<br>
        <span *ngIf="order.notes">{{order.notes}}</span>
      </md-card-content>
      <md-card-actions>
        <button md-button (click)="onFinished(order)">FINISH</button>
      </md-card-actions>
    </md-card>
    <hr>
  </div>
</div>
