:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px 0 0 0;
}

form {
  min-width: 275px;
  padding-bottom: 5px;
}

md-radio-button {
  margin: 10px;
}

.full-width {
  width: 100%;
}

.select {
  padding: 20px 0;
}
